<!DOCTYPE html>
<html>
<head>
	<title>Tom Fattah | Developer</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

	<div class="container">
		<div class="header">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/contact">Contact</a></li>
				<li id="bearmode"><a>Bear Mode</a></li>
			</ul>
			<a href="https://github.com/t-fa/">
				<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
			</a>
		</div>