body {
    margin: 0;
}

.container {
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 45px;
}

.header li {
    float: left;
    margin: 5px 15px;
    list-style: none;
}

.header li:hover {
    color: #4287f5;
}

.introduction {
    padding: 25px;
    border-radius: 10px;
    width: 80%;
    height: 540px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

.introduction h2 {
    color: gray;
    font-size: 18px;
}

.introduction img {
    width: 50%;
}

.caption {
    color: gray;
    margin: 0;
}

.box {
    width: 100%;
    background-color: #4287f5;
    text-align: center;
    color: white;
    height: 300px;
    padding-top: 50px;
}

.languages {
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    width: 80%;
    margin: 20px auto;
}

.languages li {
    list-style: none;
}

.projects {
    background-color: #4287f5;
    color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    width: 80%;
    margin: 20px auto;
}