<%- include('partials/header') %>

<div class="contact">
    <h2 id="contacthello">Say hello!</h2>
    <form action="/" method="POST">
        <label for="name">Name
            <input id="contactname" class="contact-input" name="name" type="text">
        </label>

        <label for="name">Email
            <input id="contactemail" class="contact-input" name="email" type="email">
        </label>

        <label for="subject">Subject
            <input id="contactsubject" class="contact-input" name="subject" type="text">
        </label>

        <label for="body">Body
            <textarea id="contactbody" rows="20" name="body" class="contact-input"></textarea>
        </label>

        <div class="btn">
            <label>
                    <input id="submitbutton" class="contact-button" type="submit">
            </label>
        </div>
    </form>
    <span id="response"></span>
</div>
        
<%- include('partials/footer') %>