<%- include('partials/header') %>

        <div class="introduction">
			<h1>Hi there! I'm <span id="name">Tom Fattah</span></h1>
			<h2>I build things with my <span id="bare">bare</span> hands...using computer science!</h2>
			<p id="mainp">I can build a custom tailored solution for you using the latest technologies.</p>
			<img class="introimg" id="mainimg" src="https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80">
		</div>

		<div class="box">
			<h2>Help me help you</h2>
			<div class="languages">
				<p>I'm skilled in multiple languages. I can meet your needs!</p>

				<div class="language-sub">
					<h3>Front-end Developer</h3>
					<h4>Languages:</h4>
					<p>HTML, CSS, Javascript, jQuery</p>
				</div>
				
				<div class="language-sub mid">
					<h3>Back-end Developer</h3>
					<h4>Languages:</h4>
					<p>Node.js, Express</p>
					<h4>Databases:</h4>
					<p>MongoDB, MySQL</p>
				</div>

				<div class="language-sub">
					<h3>Software Engineering</h3>
					<p>C, C++, Python</p>
				</div>
			</div>
		</div>

		<div class="projects">
			<h2>Some of my work:</h2>
			<h3>Click each link to view the Github repo</h3>
			<ul>
				<li><a href="https://github.com/t-fa/weatherforecast">Weather Forecast</a></li>
				<li>A web app that renders a 5 day weather forecast for a user inputted zip code. Makes a call to OpenWeatherMap API to generate data. Built in React. Deployed on Heroku. Available by clicking <a href="http://forecast-ow-react.herokuapp.com">here.</a></li>
				<li><a href="https://github.com/t-fa/portfolio-website">This Website</a></li>
				<li>This website is built using Node.js, Express, Javascript, AJAX, EJS, and CSS.</li>
				<li><a href="https://github.com/t-fa/bowling-drill">Bowling Site</a></li>
				<li>A CRUD app, which allows a user to register an account and input/edit drill sizes for a bowling ball. Made with Node.js, Express, MongoDB, HTML, CSS.</li>
				<li><a href="https://github.com/t-fa/RESTfulBlogApp">Blog</a></li>
				<li>A blog made with Node.js, Express, MongoDB, HTML, and Bootstrap to learn RESTful routes</li>
				<li><a href="https://github.com/t-fa/YelpCamp">YelpCamp</a></li>
				<li>A website that allows users to post reviews about camp sites they’ve attended and make comments. Made with Node.js, Express, MongoDB, HTML, BootStrap.</li>
				<li><a href="https://github.com/t-fa/hashMapSpellChecker">Spell Checker</a></li>
				<li>An implementation of a spell checker using a hash map built in C.</li>
				<li><a href="https://github.com/t-fa/Earl">Earl</a></li>
				<li>A text based game built in C++ that demonstrates understanding of memory management, OOP concepts such as inheritance and polymorphism, linked lists, and STL containers.</li>
				<li><a href="https://amandabaramki.com">AmandaBaramki.com</a></li>
				<li>A static webpage made with HTML, CSS, and JavaScript. </li>
			</ul>
		</div>
	
<%- include('partials/footer') %>