body {
    margin: 0;
}

.container {
    font-family: 'Montserrat', sans-serif;
}

.header {
    height: 45px;
}

.header img {
    max-height: 30px;
    float: right;
    padding-right: 40px;
}

.header li {
    float: left;
    margin: 5px 15px;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: black;
}
.header a:hover {
    color: #4287f5;
}

.introduction {
    padding: 25px;
    border-radius: 10px;
    width: 80%;
    height: 540px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

.introduction h2 {
    color: gray;
    font-size: 18px;
}

.introduction img {
    width: 50%;
}

.caption {
    color: gray;
    margin: 0;
}

.box {
    width: 100%;
    background-color: #4287f5;
    text-align: center;
    color: white;
    height: 300px;
    padding-top: 50px;
    margin-bottom: 150px;
}

.languages {
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    width: 80%;
    margin: 20px auto;
    height: 300px;
}

.languages li {
    list-style: none;
}

.language-sub {
    width: 33%;
    float: left;
}

.mid {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.projects {
    background-color: #4287f5;
    color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    width: 80%;
    margin: 20px auto;
}

.contact {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.contact-input {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.contact-button {
    width: 10em;
    background-color: #4287f5;
    color: white;
    border-radius: 5px;
    height: 2em;
}

#response {
    text-align: center;
    display: block;
}